body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:457px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u441_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:894px;
}
#u441 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:894px;
}
#u442 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:439px;
  width:453px;
  visibility:hidden;
  word-wrap:break-word;
}
#u443 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:820px;
  width:457px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
