body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1150px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:877px;
}
#u1105 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:877px;
}
#u1106 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:430px;
  width:469px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1107 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:280px;
  width:430px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:2px;
}
#u1108 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:347px;
  width:150px;
  height:1px;
}
#u1109 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1110_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1110 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:336px;
  width:560px;
  height:22px;
  font-size:18px;
}
#u1111 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  word-wrap:break-word;
}
